<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        {{template "style"}}
    </head>
    <body>
        {{- if .Files }}
        <div class="p-2">
            <ul>
            {{- range .Files}}
            <li><a href="view/{{trimPrefix "/" .Name}}">{{.Name}}</a>{{if .Locked}}*{{end}} ({{mybytes .Size}}, {{mytime .Timestamp}})</li>
            {{- end}}
            </ul>
        </div>
        {{- else}}
        <div class="p-2">no content</div>
        {{- end}}
    </body>
</html>
